/********************
Fonts
********************/

@font-face {
  font-family: 'Alex Brush';
  src: url('../fonts/Alex\ Brush/AlexBrushRegular.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aleo';
  src: url('../fonts/Aleo/Regular/aleo-regular-webfont.svg') format('svg'),
       url('../fonts/Aleo/Regular/aleo-regular-webfont.eot') format('embedded-opentype'),
       url('../fonts/Aleo/Regular/aleo-regular-webfont.woff') format('woff'),
       url('../fonts/Aleo/Regular/aleo-regular-webfont.woff2') format('woff2'),
       url('../fonts/Aleo/Regular/aleo-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aleo';
  src: url('../fonts/Aleo/Bold\ Italic/aleo-bolditalic-webfont.svg') format('svg'),
       url('../fonts/Aleo/Bold\ Italic/aleo-bolditalic-webfont.eot') format('embedded-opentype'),
       url('../fonts/Aleo/Bold\ Italic/aleo-bolditalic-webfont.woff') format('woff'),
       url('../fonts/Aleo/Bold\ Italic/aleo-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/Aleo/Bold\ Italic/aleo-bolditalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}



/********************
Variables
********************/

$default-color: #444;
$link-color: #1B74B5;
$end-font-stack: 'Aleo', serif;



/********************
Styles
********************/

* {
  color: $default-color;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
}

body {
  background-color: #FAFAFA;
  font-family: $end-font-stack;
  font-size: 16px;
//  font-size: 18px;
  cursor: default;
}

a {
  color: $link-color;
  letter-spacing: 0.8px;
  -webkit-transition: color 0.2s;
          transition: color 0.2s;
  
  &:hover, &:active, &:focus {
    color: inherit;
  }
}

h1 {
  font-size: 2.5rem; // 40px
}

h2 {
  font-size: 2.25rem; // 36px
}

.fancy {
  font-family: 'Alex Brush', $end-font-stack;
  font-weight: bold;
  font-style: italic;
}

section {
  width: 100%;
  min-height: 300px;
  height: 90vh;
  box-sizing: border-box;
  padding: 14vh 0;
}

small {
  font-style: italic;
  font-size: 12px;
  letter-spacing: 0.3px;
}



/********************
Home Page
********************/

.home {
  text-align: center;
}

section:nth-child(1) {
  min-height: 480px;
  
  h1 {
    color: #333;
    text-align: center;
    font-size: 6.25rem; // 100px
    font-family: 'Abyssinica SIL', $end-font-stack;
  }

  h2 {
    line-height: 2;
    font-size: 3.75rem; // 60px
    font-weight: normal;
  }

  h3 {
    font-size: 1.875rem; // 30px
  }
}

section:last-child {
  height: 80vh;
  
  h2 {
    letter-spacing: 1px;
  }
}

ul {
  font-size: 1.5rem; // 24px
  margin-top: 40px;
  margin-left: 25vw;
  
  li {
    text-align: left;
//    font-weight: 600;
    line-height: 1.5;
    list-style: none;
  }
}

.skills-list li:before {
  content: '- ';
}



/********************
Footer
********************/

footer p {
  text-align: left;
  padding-left: 2rem;
}



/********************
Breakpoint
********************/

@media screen and (max-width: 556px) {
  html {
    font-size: 10px;
  }
  
  ul {
    margin-left: 25px;
  }
}